h1
{
color: black;
text align:center
font-size:75px
font-family:Georgia
< img src="https://banque.images.com/image-de-paragraphe.jpeg" alt="texte alternatif" width=100% height=10% >
< img src="img src="D:\SNT\logo-JO-Paris-.jpg alt="texte alternatif" width=100% height=10% >
}

{
width: 800px;
margin:0 auto;
background-color: white;
text-align: center;
align-content: center;
}