h1
{

color: black;
font-family: georgia;

}


 body
#carte
{

font-family: georgia;
width: 800px;
margin:0 auto;
background-color: grey;
text-align: center;
align-content: center;

}

 