h1
{

color: pink;
font-family: georgia;

}
body


{
	background-color: pink;
}

#carte
{
front-family: georgia;
width: 800px;
margin:0 auto;
background-color: white;
text-align: center;
align-content: center;

}

img
{
height: 250;
